@import url("./cubes.css");

:root {
  /* --dark-theme-shadow: 0px 0px 5px 0.5px hsla(0, 0%, 18%, 0.8); */
  --primary-color: #1a1a1a;
  --secondary-color: #2c2c2c;
  --accent-color: #0096dc;
  --accent-color2: rgb(0, 143, 52);
  --text-color-one: #f4f1de;
  --text-color-two: #121212;
  --primary-fontStyle: "Nunito", sans-serif;
  --secondary-fontStyle: "Outfit", serif;
  --dark-theme-accent-shadow: 0px 0px 5px 1px rgba(52, 52, 52, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.space {
  height: 36px;
  width: 50%;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
}

.section {
  position: relative;
  box-shadow: var(--dark-theme-shadow);
  width: 60%;
  margin: 0px auto;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--primary-color);
}

.section h2 {
  color: var(--text-color-one);
  margin: 10px auto;
  text-align: center;
  font-family: var(--secondary-fontStyle);
}

@media (max-width: 600px) {
  .section {
    width: 100% !important;
  }
}

@media (max-width: 1200px) {
  .section {
    width: 80%;
  }
}

/* INFO */
.about .info {
  width: 90%;
  margin: auto;
  font-size: 18px;
  text-align: center;
  font-family: var(--secondary-fontStyle);
  color: var(--text-color-one);
  padding: 20px;
}

/* NAVBAR */
.container .links {
  position: sticky;
  top: 5%;
  width: 40%;
  margin: auto;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-fontStyle);
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  z-index: 11;
  padding: 5px 0px;
}

@media (max-width: 600px) {
  .container .links {
    min-width: 90%;
    top: 2%;
  }

  .introd {
    margin-top: 40px !important;
  }
}

@media (max-width: 1200px) {
  .container .links {
    width: 70%;
  }
}

.links li {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms linear;
  position: relative;
}

.links li a {
  color: var(--text-color-one);
  text-decoration: none;
}

.links li span {
  position: absolute;
  z-index: -5;
  font-size: 14px;
  left: 50%;
  opacity: 0;
  color: white;
  transition: 200ms all ease-in-out;
  top: 50%;
  transform: translate(-50%, -50%);
}

.links li:hover span {
  /* animation: sayhi 200ms linear; */
  top: 180%;
  transform: translate(-50%, -50%);
  transition: 200ms all ease-out;
  opacity: 1;
  background-color: var(--accent-color);
  padding: 5px;
}

@media (max-width: 800px) {
  .links li a {
    font-size: 12px;
  }
}

.links li a img {
  height: 35px;
  width: 35px;
  object-fit: cover;
}

/* INTRO */

.introd {
  margin-top: 100px;
}

.name {
  display: block;
  font-size: 30px;
  font-family: var(--secondary-fontStyle);
  letter-spacing: 5px;
  text-align: center;
  color: var(--text-color-one);
  font-weight: bold;
}

.profession {
  font-size: 22px;
  font-family: var(--secondary-fontStyle);
  /* font-weight: bold; */
  color: var(--accent-color);
  word-spacing: 5px;
  text-align: center;
  height: 28px;
  width: max-content;
  margin: 0 auto;
  border-right: 1px solid var(--text-color-one);
}

@media (max-width: 800px) {
  .name {
    font-size: 26px;
  }
  .profession {
    font-size: 22px;
  }
}

.buttons {
  width: 100%;
  margin: 30px auto;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

#btnHireMe,
#getCv {
  padding: 12px;
  font-family: var(--secondary-fontStyle);
  border-radius: 2px;
  border: none;
  font-weight: bolder;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  transition: 150ms all linear;
  color: var(--accent-color);
  text-decoration: none;
}

#btnHireMe:hover,
#getCv:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  /* transition: 400ms all linear; */
  /* box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.8); */
}

.profile-pic {
  height: 175px;
  width: 175px;
  margin: 40px auto;
  border-radius: 50%;
  background-image: url(./assets/profile.jpg);
  /* filter: brightness(0.8); */
  background-position: center;
  background-size: cover;
  box-shadow: var(--dark-theme-accent-shadow);
}
@media (max-width: 800px) {
  .profile-pic {
    height: 140px;
    width: 140px;
  }
}

/* WORK EDUCATION */
/* EDUCATION/WORK */

.work *,
.education * {
  color: var(--text-color-two) !important;
  text-align: left;
  font-family: var(--secondary-fontStyle);
}

.work .work-details,
.education .edu-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
}

.work-details img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.edu-details img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}

.work-details div,
.edu-details div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.work p,
.education p {
  color: #666 !important;
  font-size: 14px;
  margin-top: 25px;
}

.work-list {
  padding: 30px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  transition: all 150ms ease;
  background-color: #d6d6d6;
  margin: 10px;
  position: relative;
}

.details-work-hide {
  height: 50px;
  overflow: hidden;
  transition: all 300ms ease-out;
}

.details-work-reveal {
  height: 200px;
  transition: all 300ms ease-out;
}

@media (max-width: 600px) {
  .details-work-reveal {
    height: 470px;
    transition: all 300ms ease-out;
  }
}

.work .reveal-icon {
  height: 40px;
  width: 40px;
  transition: all 400ms ease-out;
  background-color: #000;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -150%) rotate(180deg);
}

.hide {
  transform: translate(-50%, -120%) rotate(360deg) !important;
  transition: all 400ms ease-out;
}

.education-list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .education-list {
    flex-direction: column;
  }
}

.education {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  transition: all 150ms ease;
  background-color: #d6d6d6;
  margin: 10px;
  position: relative;
}

.duration {
  font-size: 12px;
  color: #666 !important;
}

.position,
.company {
  font-size: 18px;
  text-align: left;
  margin: 5px 0px;
  margin-top: 0;
  font-weight: bold;
  color: #666 !important;
}

.course,
.institute,
.location {
  font-size: 16px;
  text-align: left;
  margin: 5px 0px;
  margin-top: 0;
  font-weight: bold;
  color: #666 !important;
}

.year {
  font-size: 14px;
  text-align: left;
  margin: 5px 0px;
  margin-top: 0;
  color: #666 !important;
}

.education .learnings {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.education .learnings .learning {
  margin: 4px 8px;
  margin-left: 0px;
  padding: 8px;
  border-radius: 20px;
  background-color: #000;
  font-size: 12px;
  color: whitesmoke !important;
}

/* SKILLS */

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin: auto;
}

.skillCat {
  width: 100%;
  box-shadow: var(--dark-theme-accent-shadow);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  padding: 20px;
}

@media (max-width: 800px) {
  .skillCat {
    width: 100%;
    margin: 15px 0px;
  }
}

.skillCat h3 {
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: var(--secondary-fontStyle);
  letter-spacing: 3px;
  color: var(--text-color-one);
  margin: 0px 0px 20px 0px;
  text-align: center;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px 5px 0px 0px;
}

.skillCat .skill .name {
  color: var(--text-color-one);
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  transition: all 100ms ease;
  display: flex;
  align-items: center;
  margin: 5px;
}

.skillCat .skill {
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
  padding: 2px 4px;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
}

.skillCat .skill .name img {
  height: 25px;
  width: 25px;
  margin: 3px 5px;
}

.level {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.level:hover .name {
  font-size: 15px;
  transition: all 100ms ease;
}

.percentage {
  width: 95%;
  display: flex;
  overflow: visible;
  align-content: center;
  background-color: #333;
  margin-bottom: 18px;
  border-radius: 10px;
}

.percentage .bar .buttonBar {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: var(--accent-color);
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  z-index: 0;
}

.bar {
  height: 8px;
  width: 0%;
  background-color: var(--accent-color);
  position: relative;
  border-radius: 10px;
}

/* FOOTER */

.footer {
  margin: auto;
  font-family: var(--secondary-fontStyle);
  padding: 20px 0px 0px 0px;
}

.footer ul {
  width: 30%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer ul li {
  display: grid;
  grid-template-columns: 150px max-content 150px;
  align-items: center;
  justify-content: center;
}

.footer ul li .line {
  height: 2px;
  border-radius: 0% 50% 50% 0%;
  background-color: #333;
}

.footer ul li .left {
  border-radius: 50% 0% 0% 50%;
}

.footer ul li a {
  color: var(--text-color-one);
  text-transform: uppercase;
}

.footer ul li a:hover {
  text-decoration: underline;
}

/* COPYRIGHT */

.copyright {
  font-size: 14px;
  color: var(--text-color-one);
  text-align: center;
  padding: 30px 0px 5px 0px;
  font-family: var(--primary-fontStyle);
  font-weight: bold;
}

/* PROJECTS */

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.projects .project {
  height: 200px;
  min-width: 175px;
  margin-left: -20px;
  box-shadow: var(--dark-theme-accent-shadow);
  border-radius: 5px;
  transition: all 150ms ease-in;
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0px 5px;
}
.projects .project:nth-child(1) {
  margin-left: 0px;
}

.projects .project:hover {
  transform: translate(-18%, -10%);
  z-index: 10;
  transition: all 150ms ease-out;
}

@media (max-width: 800px) {
  /* .projects {
  } */
  .projects .project {
    height: 180px;
    min-width: 150px;
    margin-left: -80px;
  }
  .projects .project:nth-child(1):hover {
    transform: translate(18%, -10%);
    z-index: 10;
    transition: all 150ms ease-out;
  }
  .projects .project:nth-child(2):hover {
    transform: translate(18%, -10%);
    z-index: 10;
    transition: all 150ms ease-out;
  }
}

.projects .project:hover .overlay {
  opacity: 1;
  transition: all 100ms ease;
}
.projects .project .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 1);
  display: grid;
  opacity: 0;
  padding: 5px;
  grid-template-rows: 1fr 1fr max-content;
  transition: all 100ms ease;
  border-radius: 5px;
}
.overlay .prj-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-fontStyle);
  font-size: 18px;
  color: whitesmoke;
  font-weight: bold;
}

.overlay .prj-desc {
  font-size: 10px;
  font-family: var(--secondary-fontStyle);
  color: white;
}

.overlay a {
  padding: 5px;
  margin: 10px auto;
  margin-left: 25px;
  border-radius: 10px;
  width: 100px;
  border: none;
  background-color: #646464;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay a img {
  height: 20px;
  width: 20px;
  transition: all 300ms ease-out;
}

.overlay a:hover img {
  transform: scale(1.3);
  transition: all 300ms ease-out;
}

/* Testimonials  */

.sub-container {
  margin: auto;
  height: 400px;
  min-width: 70%;
  box-shadow: inset 100px 0px 120px -20px rgba(0, 0, 0, 0.9),
    inset -100px 0px 120px -20px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: rgb(180, 180, 180);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-top: 30px;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  transition: all 300ms ease-in-out;
}

.testimony {
  height: max-content;
  display: grid;
  grid-template-rows: 70px 1fr;
  /* height: 325px; */
  width: 325px;
  /* box-shadow: var(--dark-theme-accent-shadow); */
  border-radius: 5px;
  color: var(--text-color-two);
  font-family: var(--primary-fontStyle);
}

.testimony .message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 15px;
}

.testimony .details {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .testimony .details {
    padding: 0 15px;
  }
}

.testimony .details img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.testimony .details .about {
  padding: 20px;
  padding-right: 0px;
}

.testimony .details .about .author {
  font-size: 18px;
  text-align: left;
}

.testimony .details .about .prof {
  font-size: 16px;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(200%, -50%);
  background-color: transparent;
  height: 45px;
  width: 45px;
  z-index: 5;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  background-color: #333;
}

.arrowLeft {
  background-image: url("./assets/arrowLeft.png");
}

.arrowRight {
  left: 100%;
  transform: translate(-300%, -50%);
  background-image: url("./assets/arrowRight.png");
}

@media (max-width: 800px) {
  .arrowLeft {
    transform: translate(10%, -50%);
  }
  .arrowRight {
    transform: translate(-110%, -50%);
  }
  .testimony {
    height: 300px;
    width: 280px;
  }

  .testimonials-section {
    width: 100% !important;    
  }
}

/* Social Presence */
#social-presence {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  #social-presence {
    width: auto;
    padding: 10px 20px;
  }
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#social-presence {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-family: var(--primary-fontStyle);
  font-size: 14px;
}

#social-presence h2 {
  text-align: left;
  width: 100%;
}

#social-presence div span a{
  text-decoration: none;
  color: whitesmoke;
}

.social-links li {
  margin: 10px 20px;
  transition: all 100ms ease;
  border-radius: 5px;
}
.social-links li:hover {
  transform: scale(1.2);
  transition: all 100ms ease;
}

.social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links li a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: contain;
}

.profile-pic {
  --main-bg: url(./assets/profile.jpg);

  border: dashed 5px transparent;
  border-radius: 50%;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 0%,
    rgb(0, 179, 255),
    rgb(255, 115, 0) 99%,
    transparent
  );

  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;

  background-position: center;
  background-size: cover;

  animation: bg-spin 3s ease infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
