* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
scroll-behavior: smooth;  
}

.container {
  position: relative;
  width: 100%;
  height: auto;
  background: url(https://web.whatsapp.com/img/bg-chat-tile_9e8a2898faedb7db9bf5638405cf81ae.png), rgba(237, 237, 237);
  background-blend-mode: soft-light;
}

.section {
  min-height: 200px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: auto;
  background-color: transparent;
  background-blend-mode: soft-light;
  border-radius: 3px;
}

/*  /////////////////////////   */
.hobbies {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 5px 40px 5px;
}

.hobbies h2 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 0px 0px 10px 0px;
  text-align: center;
}

.activities {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.actGrp1,
.actGrp2 {
  display: flex;
}

.activity {
  position: relative;
  flex: 1;
  min-height: 180px;
  min-width: 180px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Nunito Sans', sans-serif;;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 100ms linear;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}


.activity img{
  height: 100%;
  width: 100%;  
  filter: opacity(0);
}


.activity1 {
  transition: all 200ms linear;
  background-image: url(../assets/badminton.webp);
  background-size: cover;
  background-position: center;

}  

.activity2 {
  transition: all 200ms linear;
  background-image: url(../assets/travelling.jpg);
  background-size: cover;
  background-position: center;
}  

.activity3 {
  transition: all 200ms linear;
  background-image: url(../assets/basketball.jpg);
  background-size: cover;
  background-position: center;
}  

.activity4 {
  transition: all 200ms linear;
  background-image: url(../assets/cooking.jpg);
  background-size: cover;
  background-position: fixed;
}  

.activity:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.7);
}

.gayab {
  opacity: 0;
  transition: all 200ms linear;
}

.skillss {
  margin-top: 10px;
  background-color: rgb(0, 117, 153);
  padding: 20px;
}

#skills h2{
  color: white;
  margin: 10px 0px;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 60px;
  

}

.skills .left,
.skills .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  height: auto;
}

.skills .left>*,
.skills .right>* {
  max-height: 280px;
  width: 300px;
  background-color: transparent;
  margin: 10px;
  padding: 0px 0px 10px 0px;
  overflow-y: scroll;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.skillss h2 {
  font-family: 'Nunito Sans', sans-serif;;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-weight: 600;
  color: #fff;


}

.skill {
  position: relative;
  background-color: transparent;
}

.skill h3 {
  font-family: 'Nunito Sans', sans-serif;;
  letter-spacing: 3px;
  color: #fff;
  margin: 0px 0px 20px 0px;
  text-align: center;
  padding: 5px 0px;
  position: sticky;
  background-color: #000;
  top: 0%;
  z-index: 1;
}

.skill .name {
  color: #222;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.level {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.percentage {
  /* border-radius: 2px; */
  width: 90%;
  display: flex;
  overflow: visible;
  align-content: center;
  background-color: #888;
  margin-bottom: 18px;
  border-radius: 10px;
}

.percentage .bar .buttonBar {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: rgb(255, 145, 0);
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
}

.bar {
  height: 5px;
  width: 0%;
  background-color: rgb(255, 145, 0);
  position: relative;
  border-radius: 10px;
}


/*Contact me*/

.contact {
  text-align: center;
  margin: 10px auto;
  padding: 20px;
}

.contact h2 {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  color: rgb(0, 21, 66);
  font-weight: bold;
}

.contact h4 {
  font-family: 'Architects Daughter', cursive;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 20px 0px;
  text-align: center;
  color: rgb(0, 21, 66);
  font-weight: normal;
  font-weight: bold;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form input {
  padding: 5px;
  width: 250px;
  margin: 5px auto;
  font-size: 18px;
  text-align: center;
  font-family: "Baloo Bhai 2";
  border-radius: 5px;
  border: 2px solid rgb(0, 117, 153);
}

.contact form textarea {
  padding: 5px;
  font-size: 18px;
  width: 250px;
  height: max-content;
  margin: 5px auto;
  text-align: center;
  font-family: "Baloo Bhai 2";
  border-radius: 5px;
  border: 2px solid rgba(0, 68, 255, 0.8);
}



::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(0, 0, 0);

}

/* ::-webkit-scrollbar-button {
  width: 9px;
  height: 0px;
  margin: auto;
  background-color: rgb(255, 255, 255);
} */

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(196, 196, 196);
}

#github {
  background-image: url(../assets/icons8-github-50.png);
  background-size: cover;
  background-position: center;
}

#codepen {
  background-image: url(../assets/icons8-codepen-50.png);
  background-size: cover;
  background-position: center;
}

#dribbble {
  background-size: cover;
  background-position: center;
  background-image: url(../assets/icons8-dribbble-old-logo-50.png);
}

#github:hover,
#codepen:hover,
#dribbble:hover {
  transform: scale(1.5);
  transition: all 100ms ease-in;
}

.social-links {
  text-align: center;
  padding: 20px 20px 0px 20px;
}

.social-links li {
  display: inline-block;
  margin: 0px 20px;
  height: 30px;
  width: 30px;
  transition: all 100ms ease-in;
  border-radius: 50%;
}

.footer {
  margin: auto;
  width: 60%;  
  font-family: "Baloo Bhai 2";
  color:white;
  background-color: rgba(0, 0, 0, 0.4);
  background-color: rgb(0, 117, 153);

  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);

  padding: 20px 0px 0px 0px;
}

.footer ul{
  width: 30%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer ul li{
  display: grid;
  grid-template-columns: 150px max-content 150px;
  align-items: center;
  justify-content: center;
}

.footer ul li .line{
  height: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer ul li a{
color: rgb(255, 255, 255);
text-transform: uppercase;
/* font-weight: bold; */
}
.footer ul li a:hover{
text-decoration: underline;
color: rgb(255, 206, 206);
}

.copyright {
  font-size: 14px;
  color:white;
  padding: 0px;
  text-align: center;
  padding-top: 10px;
}

.cntct-form input[type="submit"] {
  background-color: rgb(0, 87, 114);
  color: whitesmoke;
  border: none;
}




/* EDUCATION */

.education {
  position: relative;
  margin-top: 10px;
  padding: 20px 0px;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.leftArr,
.rightArr {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(../assets/arrow.png);  
  background-position: center;
  background-size: cover;
}


.rightArr {
  top: 50%;
  left: 100%;
  transform: translateX(-100%) rotate(180deg);
  transition: 100ms transform ease-in
  ;
}
.leftArr {
  top: 50%;
  transition: 100ms transform ease-in;
  left: 0%;
}

.rightArr:hover{
  transform: translateX(-100%) rotate(180deg) scale(1.5);
  transition: 100ms transform ease-in;
}
.leftArr:hover{
  transform: scale(1.5);
  transition: 100ms transform ease-in;
}

.edu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 40px;
  transition: all 300ms linear;
}
.edu img{
  /* margin-bottom: 30px; */
} 

.edu-animate {
  opacity: 0;
  /* margin-right: 80px; */
  transition: all 400ms linear;
}



#duration {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Nunito Sans', sans-serif;;
  margin-bottom: 20px;
  text-align: center;
}

#course {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;;
  text-align: center;
  
}

#institute {
  
  font-size: 24px;
  letter-spacing: 1px;
  margin: 5px 0px;
  font-weight: bold;
  font-family: "Nunito Sans";
  text-align: center;
}

#location {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Nunito Sans";
  text-align: center;
}

.name {
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;;
  letter-spacing: 5px;
  text-align: center;
  color:  rgb(0, 117, 153);
  font-weight: bold;
}

.profession {
  font-size: 18px;
  /* font-weight: bold;   */
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;;
  color:  rgb(0, 117, 153);
  /* height: 20px; */
  /* display: flex;
  align-items: center; */
  
  
  
}

.buttons {
  width: 60%;
  margin: 10px auto;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

#btnHireMe,
#getCv {
  padding: 8px;    
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 4px;
  border: none;
  font-weight: bolder;
  font-size: 14px;
  margin: 50px 0px 20px 0px;
  background-color: transparent;
  transition: 150ms all linear;
}

#btnHireMe a,#getCv a{
  color: #4f4f4f;
}


#btnHireMe:hover,
#getCv:hover {
  transition: 150ms all linear;
  /* background: linear-gradient(45deg, rgba(255, 0, 0, 0.8), rgba(255, 73, 73, 0.8)); */
  background-color: #4fa4ca

  ;
}

.profile-pic {
  height: 180px;
  width: 180px;
  box-shadow: 0px 5px 10px 2px rgba(80, 80, 80, 0.3);
  margin: 40px 0px;
  border: 5px solid white;
  border-radius: 50%;
  background-image: url(../assets/profile.jpg);
  background-position: center;
  background-size: cover;
}
a{

  text-decoration: none;
}
.intro a {
  text-decoration: none;
  color:  rgb(0, 44, 85);
  
}

.intro {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.intro .innerSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  padding: 50px 50px 20px 50px;
}

.links {
  position: sticky;
  top: 0%;
  width: 60%;
  margin: auto;
  box-shadow: 0px 1px 6px 2px rgba(80, 80, 80, 0.8);
  border-radius: 0px 0px 3px 3px;
  display: flex;
  font-family: 'Nunito Sans', sans-serif;
  color: #eee;
  background-color: rgba(0, 46, 89, 0.844);
  font-weight: bold;
  z-index: 100;
  padding: 10px 0px;

}


.links li {

  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  transition: all 100ms linear;
}

.links li a{
  color: white;
}


.links li:hover {
  transition: all 100ms linear;
  color: white;
  transform: scale(1.4);
  transition: all 100ms linear;
}


.about {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 117, 153);
}

.info {
  width: 90%;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  
}

/* MEDIA QUERIES */

@media only screen and (max-width:800px) {

  .education {
      height: auto;
      padding: 0px 10px;
  }

  .section {
      width: 100%;
  }

  .innerSection {
      width: 100%;
  }   
  
  .footer{
      width: 100%;
  }

  .footer ul li{
      grid-template-columns: 80px max-content 80px;
  }

  .name {
      font-size: 25px;
  }

  .profession {
      font-size: 16px;
  }

  .links {
      width: 100%;
      padding: 10px 0px
  }

  .links li {
      font-size: 12px;
  }
  
  .profile-pic {
      height: 140px;
      width: 140px;
      box-shadow: 0px 5px 10px 2px rgba(80, 80, 80, 0.3);
      margin: 20px 0px;
      border: 5px solid white;
      border-radius: 50%;

  }

  .activities {
      flex-direction: column;
  }
  
  .activity {
      /* margin: 0px 5px; */
      margin: 2px;
          min-height: 150px;
          min-width: 150px;
      }

  .prj-container {
      padding: 20px 20px 0px 20px;
      display: flex;
      flex-direction: column;
  }

  .prjImg {
      align-items: center;
  }

  .prjDesc span {
      text-align: center;
  }

  .info {
      font-size: 15px;
      padding: 30px 10px;
  }

  .prjDesc {
      align-items: center;
  }

  .prj-container {
      height: 480px;
  }

  .prjDesc button {
      margin-left: 0px;
  }


}

@media only screen and (max-width:1200px) {
  .skills {
      display: flex;
      flex-direction: column;
  }
}


@media only screen and (max-width:1345px) {
  .activities {
      /* flex-direction: column; */
  }

  .activity {
      /* margin: 0px 5px; */
      min-height: 150px;
      min-width: 150px;
  }

  /* .actGrp1 {
      padding-left: 40px;
  }

  .actGrp2 {
      padding-right: 40px;
  } */

  .info {
      font-size: 15px;
      padding: 30px 10px;
  }



}

@media only screen and (max-width:700px) {

  .skillss h2{
      font-size: 24px;

  }

  .contact h2{
      font-size: 24px;

  }

  .skills .left>*,
.skills .right>* {
max-height: 220px;
width: 250px;
background-color: transparent;
margin: 10px;
padding: 0px 0px 10px 0px;
overflow-y: scroll;
box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
background-color: #fff;
}

  .activity{
      min-height: 100px;
      min-width: 100px;
  }
  .hobbies h2{
      font-size: 24px;
  }

  #duration {
      font-size: 18px;
      letter-spacing: 2px;
      font-family: 'Nunito Sans', sans-serif;;
      margin-bottom: 20px;
      text-align: center;
    }
    
    #course {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Nunito Sans', sans-serif;;
      text-align: center;
      
    }
    
    #institute {
      font-size: 16px;
      letter-spacing: 1px;
      margin: 5px 0px;
      font-weight: bold;
      font-family: "Nunito Sans";
      text-align: center;
    }

    #location {
      font-size: 12px;
    }
  

  

  .prj-container {
      padding: 20px 20px 0px 20px;
      display: flex;
      flex-direction: column;
  }

  .prjImg {
      align-items: center;
  }


  .prjDesc span {
      text-align: center;
  }

  .info {
      font-size: 15px;
      padding: 30px 10px;
  }

  .prjDesc {
      align-items: center;
  }

  .prj-container {
      height: 480px;
  }


}